<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foom</title>
    
    
    <script>
        const ROOM_ID= "<%= roomid %>"
        const USER_ID= "<%= userid %>"
        console.log("<%= roomid %>");
       
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <style>
         #videGrid{
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
      }
      video{
         height: 300px;
         width: 400px;
         object-fit: cover;}
         
    </style>
</head>
<body>
    <style>
        #UserRoomID{
           border: 10px;
           border-radius: 2%;
           border-width: 1px;
           border-color: black;
           align-content: center;
           background-color: rgb(202, 162, 75);
           border-style: dotted dashed solid double
        }
        /* #videoGrid{
            border-style: double;
            border-color: black;
            border-radius: 10%;
            border-width: 20px;
        } */
    </style>

    <p id="UserRoomID"   >  Room ID :</p>
    <p id="UserName">User Name:</p>
    
    
    <div class="main">
    <div class="main_left">
        <div class="main_videos">
            <div id="videoGrid"></div>
        </div>
        <div class="main_controls">
    </div>
    <div class="main_right">
        <div class="main_header">
            <h6>Chat</h6>

        </div>
    </div>
    </div>
 
   
</body>
<script src="script.js"></script>
<link rel="styleSheets" href="style.css">
<script> document.getElementById("UserRoomID").innerHTML += "<%= roomid %>";
 document.getElementById("UserName").innerHTML += "<%= userid %>"
 </script>

</html>